<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/abe489da-01c9-4068-b7d5-1cd8156d601d/resourceGroups/pssessiontest/providers/Microsoft.ContainerRegistry/registries/psscriptregistrythomas</ResourceId>
    <ResourceName>psscriptregistrythomas</ResourceName>
    <ResourceGroup>pssessiontest</ResourceGroup>
    <Subscription>MPN150</Subscription>
    <RegistryUrl>https://psscriptregistrythomas.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>90e2b98a-713a-4290-8b7b-20631b260404</ProjectGuid>
  </PropertyGroup>
</Project>